.header {
  width: 100%;
  height: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 4px;
  align-self: center;
  align-content: center;
  flex-direction: row;
  background-color: #fff;
}
.zoho_logo {
  width: 100px;
  height: 40px;
  margin-right: 5px;
  cursor: pointer;
}
.header > ul > li {
  text-decoration: none;
  display: flex;
  margin-right: 23px;
  align-items: center;
  justify-content: stretch;
  align-self: center;
  align-content: center;
  font-weight: 500;
}

.header > ul {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
}
.header > ul > li > a {
  font-size: 17px;
  font-weight: 400px;
  color: #000;
  display: inline-block;
  padding: 7px 0;
  line-height: 20px;
  align-items: center;
  width: 100%;
}
.header > ul > li > a:hover {
  color: rgb(3, 169, 245);
}
.icon_div {
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-direction: row;
  align-items: center;
  align-content: center;
  cursor: pointer;
}
.signin_btn {
  font-family: Arial;
  color: #f0483e;
  font-size: 15px;
  background: #fff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  height: 100%;
  border: none;
  cursor: pointer;
}
.signup_btn {
  font-family: Arial;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  background: #f0483e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  height: 100%;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.top {
  height: 650px;
  background-color: #4d4dff;
}
.top_nav {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  position: relative;
  /* background-color: yellowgreen; */
}
.expense_logo {
  height: 40px;
  margin-top: 20px;
  float: left;
  display: block;
  line-height: 50px;
  padding-left: 30px;
  cursor: pointer;
}
.expense_title {
  color: #ffffff;
  padding-left: 10px;
  float: left;
  display: block;
  font-size: 24px;
  font-weight: 600;
  padding-top: 18px;
  cursor: pointer;
}
.tollfreeno {
  color: #ffaa80;
}
.expense_title_list {
  align-items: center;
  padding-top: 18px;
  height: 100%;
  display: flex;
  justify-content: right;
  width: 100%;
  flex-direction: row;
  align-items: flex-end;
  align-content: flex-end;
}
.expense_title_list > ul > li {
  display: flex;
  flex-direction: row;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding-right: 35px;
  align-items: center;
}
.expense_title_list > ul > li > a {
  cursor: pointer;
}
.arrow {
  vertical-align: middle;
}

.header_dropdown_list {
  position: relative;
  display: inline-block;
}
.dropdown_list {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -140px;
  visibility: hidden;
  display: none;
  padding: 15px 20px;
}
.dropdown_list p {
  color: #000000;
}
.dropdown_list a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  visibility: visible;
  font-weight: 300px;
  font-size: 16px;
}
.dropdown_list a:hover {
  background-color: #ddd;
  visibility: visible;
}

.header_dropdown_list:hover .dropdown_list {
  display: block;
  visibility: visible;
}

.header1 {
  display: flex;
  align-items: stretch;
  padding: 60px 110px;
}
.header1_left {
  width: 60%;
  height: 60%;
}

.expense_img {
  width: 90%;
}
.header1_right {
  width: 40%;
}
.header1_right > h1 {
  font-size: 40px;
  color: #ffffff;
}
.header1_right > p {
  font-size: 20px;
  color: #ffffff;
}
.access_expense {
  background-color: #ff4d4d;
  color: #ffffff;
  font-size: 16px;
  align-items: center;
  padding: 15px 100px;
  border: none;
  border-radius: 8px;
}

.details {
  padding: 0px 120px;
  text-align: center;
}
.details_border {
  border-style: solid;
  border-color: #808080;
  border-width: 1px;
  border-radius: 15px;
  color: #00264d;
}
.research_logo {
  margin-top: 60px;
  width: 120px;
  height: 40px;
}
.details_desc > h1 {
  font-size: 25px;
}
.details_desc > p {
  padding: 0px 70px;
  font-size: 17px;
  margin-bottom: 60px;
}
.heading2 {
  text-align: center;
  color: #00264d;
  padding: 100px 0px 50px 0px;
  font-size: 17px;
}

.flip {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.flip_container {
  position: relative;
  width: 300px;
  height: 300px;
}
.flip_card_container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.flip_card_container:hover {
  transform: rotateY(180deg);
}
.flip_card_front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #cccccc;
  color: black;
  border-radius: 8px;
}
.flip_card_front > div {
  padding: 20px 30px;
}
.flip_img {
  width: 60px;
  height: 60px;
}
.flip_card_front > div > h1 {
  font-size: 25px;
}
.flip_card_front > div > p {
  font-size: 18px;
}

.flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #000000;
  color: #ffffff;
  transform: rotateY(180deg);
  border-radius: 15px;
}
.flip_card_back > div {
  padding: 10px 25px;
}
.flip_card_back > div > h1 {
  font-size: 25px;
}
.flip_card_back > div > p {
  font-size: 18px;
}

.access_expense_prod_btn {
  padding: 60px;
  text-align: center;
}
.access_expense_prod {
  background-color: #ff4d4d;
  color: #ffffff;
  font-size: 16px;
  align-items: center;
  padding: 20px 60px;
  border: none;
  border-radius: 8px;
}
