.navbar {
  width: 100%;
  height: 50px;
  background-color: #3e4566;
}
.wrapper {
  display: flex;
  position: relative;
}
.wrapper .sidebar {
  width: 200px;
  height: 100vh;
  text-align: left;
  background: #f3f3fa;
  padding: 13px;
  position: fixed;
  border-right: 1px solid rgba(202, 201, 201, 0.5);
}

.wrapper .sidebar h4 {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.342);
  text-align: left;
  padding: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.wrapper .sidebar ul .navTabLi {
  padding: 10px;
  padding-left: 20px;
  display: grid;
  border-radius: 5px;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  /* border-bottom: 1px solid #bdb8d7; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.wrapper .sidebar ul .navTabLiFocused {
  padding: 10px;
  padding-left: 20px;
  display: grid;
  border-radius: 5px;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  background-color: #22b378;
  cursor: pointer;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.wrapper .sidebar ul .navTabLiFocused a {
  color: white;
  display: flex;
  font-weight: 700;
  font-size: 12pt;
  transform: translateX(-40px);
  text-decoration: none;
}
.wrapper .sidebar ul .navTabLi a {
  color: black;
  display: flex;
  font-size: 12pt;
  transform: translateX(-40px);
  text-decoration: none;
}
.ul .navTabLi:hover > .a {
  color: #22b378;
}
.wrapper .sidebar ul .navTabLi:hover {
  cursor: pointer;
  box-shadow: 2px 2px 14px rgb(189, 187, 187);
  background-color: white;
  border: 1px solid whitesmoke;
  font-weight: bold;
  color: #22b378;
  text-decoration: none;
}
.nav {
  display: flex;
  width: 100%;
  background-color: #333956;
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 6px;
}
.nav .icon {
  display: flex;
  gap: 1ch;
  cursor: pointer;
  width: 194px;
  align-items: center;
  border-right: 1px solid #878ba25b;
  justify-content: center;
  padding-right: 5px;
}
.nav .icon .logo {
  height: 24px;
  width: 24px;
}
.nav .icon .logoText {
  font-size: 19pt;
  font-weight: 500;
  color: #878ba2;
}

.nav ol {
  display: flex;
  list-style: none;
  margin: auto 0;
}

.nav ol li {
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav #olid li #iTag {
  color: #878ba2;
}
.nav #olid li #iTag:hover {
  color: whitesmoke;
  cursor: pointer;
}
.nav #olid li #plusIcon {
  color: rgba(255, 255, 255, 0.925);
  padding: 5px;
  width: 28px;
  border-radius: 3px;
  background-color: #22b378;
  font-weight: 600;
}
.nav #olid li #plusIcon:hover {
  background-color: #c9f7e5;
  color: #22b378;
}
/* .nav ol li a h4 {
  color: gainsboro;
  letter-spacing: 1px;
  padding: 5px 10px;
}
.nav ol li a h4 span {
  color: red;

  letter-spacing: 1px;
  padding: 5px 10px;
}
.nav ol li a h4 b {
  color: skyblue;
  letter-spacing: 1px;
  padding: 5px 10px;
} */
.nav .ol .navIconList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2ch;
  border-right: 1px solid #878ba25b;
  padding-right: 20px;
  font-size: 11pt;
}
.nav ol li a h5 {
  letter-spacing: 1px;
  padding: 5px 10px;
}
.nav .search_box {
  display: flex;
  border-right: 1px solid rgba(255, 255, 255, 0.09);
  padding-right: 25px;
  align-items: center;
  justify-content: center;
}
.nav .search_box input {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.09);
  height: 35px;
  border-radius: 0 4px 4px 0;
  padding: 0 10px;
  font-size: 11pt;
  width: 600px;
  color: #878ba2;
}
.nav .search_box input::placeholder {
  color: #878ba2;
}

.nav .search_box input:focus {
  border: none;
  outline: none;
  color: black;
  background-color: white;
}
.nav .search_box #searchIcon {
  height: 35px;
  width: 44px;
  fill: #878ba2;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid rgba(255, 255, 255, 0.09);
  background-color: rgba(255, 255, 255, 0.09);
  justify-content: center;
}

.nav .search_box #searchIcon:hover {
  fill: black;
  background-color: white;
}
.head {
  color: #594f8d;
  font-size: 40px;
}
.navhead {
  margin-left: 450px;
  justify-content: center;
  text-align: center;
  border-style: groove;
  width: 50%;
  padding: 5px;
  margin-top: 10px;
}
.para {
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.trip {
  margin-left: 100px;
  padding: 40px;
  display: flex;
  background-color: EFF5F5;
  width: 65%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.expense {
  margin-left: 100px;
  padding: 40px;
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.addnewtrip {
  background-color: #4d79ff;
  color: #ffffff;
  align-items: center;
  border: none;
  border-radius: 4px;
  margin-left: 120px;
  padding: 5px;

  width: 68%;
}
.addnewexpense {
  background-color: #4d79ff;
  color: #ffffff;
  align-items: center;
  border: none;
  border-radius: 4px;
  margin-left: 75px;
  padding: 5px;
}
.adddetails {
  margin-left: 300px;
  margin-right: 100px;
  background-color: rgb(224, 255, 255);
  width: 70%;
  margin-top: 50px;
}
