.preferencesDiv {
  display: flex;
  flex-direction: column;
  padding: 0 20px 15px 35px;
}
.emailReceipt {
  display: flex;
  gap: 2ch;
  border-bottom: 1px solid #a4a4afd3;
  padding-bottom: 40px;
  flex-direction: column;
}
.emailReceipt h3 {
  font-weight: 500;
}
.emailReceipt .emailCards {
  display: flex;
  flex-wrap: wrap;
  gap: 4ch;
}
.emailCards .firstPara:hover {
  box-shadow: 0 0 15px #c6c6c9;
}
.emailCards .firstPara {
  padding: 24px;
  /* border: 1px solid #a4a4af; */
  box-shadow: 0 0 5px #c6c6c9;

  width: 700px;
  border-radius: 7px;
  font-size: 10.5pt;
}
.firstPara span {
  color: #408dfb;
  font-weight: 500;
  cursor: pointer;
  opacity: 0.8;
}
.emailCards .firstPara span:hover {
  color: #0461e4;
}
.firstPara button {
  margin-top: 30px;
  color: #408dfb;
  font-weight: 600;
  cursor: pointer;
  font-size: 11pt;
  border: none;
  background-color: transparent;
}
.firstPara button:hover {
  color: #0461e4;
}
.emailAutoForward {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: fit-content;
  border-radius: 6px;
  gap: 1.3ch;
  background-color: #f8f8fd;
  flex-direction: column;
  transition: all 0.5s ease;
}
.emailAutoForward:hover {
  box-shadow: 0 0 10px #c6c6c9;
}
.emailAutoForward p {
  font-size: 9pt;
}
.emailAutoForward ol {
  display: flex;
  gap: 2ch;
}
.emailAutoForward ol li svg {
  height: 20px;
  cursor: pointer;
  width: 20px;
}

/*  */
.defaultValues {
  display: flex;
  gap: 2ch;
  margin-top: 30px;
  border-bottom: 1px solid #a4a4afd3;
  padding-bottom: 40px;
  flex-direction: column;
}
/* /.secondPara:hover,
.thirdPara:hover {
  box-shadow: 0 0 15px #c6c6c9;
} */
.defaultValues .emailCards p:hover {
  box-shadow: 0 0 15px #c6c6c9;
}
.defaultValues h3 {
  font-weight: 500;
}
.defaultValues .emailCards {
  display: flex;
  flex-wrap: wrap;
  gap: 4ch;
}
.defaultValues .firstPara {
  color: #696d9a;
  font-size: 10pt;
}
.defaultValues .secondPara,
.defaultValues .thirdPara {
  padding: 24px;
  box-shadow: 0 0 5px #c6c6c9;
  width: 700px;
  border-radius: 7px;
  font-size: 10.5pt;
}

.defaultValues .secondPara button,
.thirdPara button {
  margin-top: 10px;
  color: #408dfb;
  font-weight: 600;
  cursor: pointer;
  font-size: 11pt;
  border: none;
  background-color: transparent;
}
.secondPara button:hover,
.thirdPara button:hover {
  color: #0461e4;
}
.secondPara svg,
.thirdPara svg {
  height: 28px;
  width: 28px;
  padding-bottom: 10px;
  transform: translateY(8px);
  border-bottom: 2px solid #22b378;
}
.thirdPara span,
.secondPara span {
  display: flex;
  gap: 1ch;
  font-weight: 500;
  font-size: 10pt;
  align-items: center;
}
