.page{
    margin-left: 210px;
    margin-top: 100px;
}
.popup .overlay{
    position: fixed;
    z-index: 1;
    background-color: grey;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}
.popup .content{
    position: absolute;
    background:#e7feff;
    transform: translate(-50%,-50%),scale(0);
    z-index: 2;
    height: auto;
    width: 100%;
}
.popup.active .overlay{
    display: block;
}
.popup.active .content{
    transition: all 100ms ease-in-out;
    transform: translate(-50%,-50%),scale(1);
}
.form{
    border: 'none';
    justify-content: center;
    align-items: center;
}
.form h4{
    font-weight: 200;
}
.form label{
    padding: 5px;
    font-weight: 200;
    font-size: larger;
}
.form select,.form input{
    height: 45px;
    width: 80%;
    border: "none";
}
.form button{
    padding: 10px;
    margin-left: 20px;
}